<!DOCTYPE html>
<html>
  <head>
    <title>HannahWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="nav-container">
      <h1>Hannah Wetherholt</h1>

      <ul class="nav-items">
        <li class="nav-item"><%= link_to "Home", index_path %></li>
        <li class="nav-item"><%= link_to "About me", about_path %></li>
        <li class="nav-item"><%= link_to "Contact me", contact_path %></li>
      </ul>

    </nav>

    <%= yield %>

    <div class="footer-cta-container">
      <a href="#" class="button">Footer CTA</a>
    </div>

    <footer class="footer-container">
      <h2>Footer</h2>
    </footer>

  </body>
</html>
